<app-card-filter-bar
  [filters]="this.collectionService.myCollectionFilters()"
  (filterChange)="this.collectionService.updateMyCollectionFilters($event)"
  class="app-card-filter-bar" />
<ul class="collection-items-list">
  @for (
    collectionItem of this.collectionService.myCollection();
    track "my-collection-" + collectionItem.setCode + "-" + collectionItem.setNumber
  ) {
    <li>
      <app-collection-item [collectionItem]="collectionItem" />
    </li>
  }
</ul>
@if (noResults()) {
  <app-no-results>
    <p>
      @if (this.collectionService.hasActiveMyCollectionFilters()) {
        We couldn't find any cards in your collection with the current filters
      } @else {
        Your collection is empty, try <a routerLink="/collection/all-cards">adding some cards</a>
      }
    </p>
  </app-no-results>
} @else {
  <app-end-of-data>
    <p>
      There's no more cards in your collection
      @if (this.collectionService.hasActiveMyCollectionFilters()) {
        that match the current filters
      }
    </p>
  </app-end-of-data>
}

<app-scroll-listener (reachedBottom)="this.collectionService.fetchMyCollectionNextPage()" />
