<app-card-filter-bar
  [filters]="this.collectionService.myCollectionFilters()"
  (filterChange)="this.collectionService.updateMyCollectionFilters($event)"
  class="app-card-filter-bar" />
<ul class="collection-items-list">
  @for (
    collectionItem of this.collectionService.myCollection();
    track "my-collection-" + collectionItem.setCode + "-" + collectionItem.setNumber
  ) {
    <li>
      <app-collection-item [collectionItem]="collectionItem" />
    </li>
  }
</ul>
@if (noResults()) {
  <app-no-results>
    <p>
      @if (this.collectionService.hasActiveMyCollectionFilters()) {
        {{ "myCollection.noResultsWithFilters" | translate }}
      } @else {
        {{ "myCollection.noResultsWithoutFiltersStart" | translate }}
        <a routerLink="/collection/all-cards">
          {{ "myCollection.noResultsWithoutFiltersLink" | translate }}
        </a>
      }
    </p>
  </app-no-results>
} @else {
  <app-end-of-data>
    <p>
      {{ "myCollection.noMoreCards" | translate }}
      @if (this.collectionService.hasActiveMyCollectionFilters()) {
        {{ "myCollection.noMoreCardsWithFilters" | translate }}
      }
    </p>
  </app-end-of-data>
}

<app-scroll-listener (reachedBottom)="this.collectionService.fetchMyCollectionNextPage()" />
