img.avatar {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

mat-card-title-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span.trainer-id {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.username{
    font-size: xx-large;
}

p.bio {
    font-style: italic;
}
