img.avatar {
  position: absolute;
  top: -43px;
  left: 16px;
  width: 150px;
  height: auto;
  border-radius: 50%;
  background-color: var(--mat-sys-surface);
  border: 1px solid var(--mat-sys-outline);
}

mat-card-title {
  margin: 8px 0px 68px 166px;
  font-size: xx-large;
  text-align: center;
}

mat-card {
  margin-top: 100px;
  position: relative;
}

span.trainer-id {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.username{
    font-size: xx-large;
}

p.bio {
    font-style: italic;
}
