@use "global-variables" as *;
@use '@angular/material' as mat;

.dashboard-tab-group .mat-mdc-tab-header {
  position: sticky;
  top: 48px;
  z-index: 1000;
  width: 100%;
  margin-bottom: 16px;
  overflow: unset;
  background-color: var(--mat-sys-surface-dim) !important;
}

// info badge is used when a badge represents just an information, as opposed to requiring an action from the user
.info-badge {
  @include mat.badge-overrides((
    background-color: var(--mat-sys-primary),
    text-color: var(--mat-sys-on-primary),
  ));
}

// Responsive (mobile)
@media screen and (max-width: #{$breakpoint}) {
  .dashboard-tab-group .mat-mdc-tab-header {
    top: 0px;
  }
  // see dashboard-shared.scss as well, this padding is needed to replace that of main
  .mat-mdc-tab-body-wrapper {
    padding: 0px 16px 64px 16px;
  }
}

.blurred-dialog-backdrop {
  backdrop-filter: blur(10px);
}
