@use "@angular/material" as mat;
@use "global-variables" as *;
@use "toast-service.scss";

// Custom colors
$success-color: #4caf50;
$error-color: #f44336;
$warning-color: #ffc107;
$info-color: #2196f3;

// responsive design
$breakpoint: 768px;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$green-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100svh - 64px);
  max-width: 80%;
  margin: auto;
}

// mobile styles
@media screen and (max-width: #{$breakpoint}) {
  main {
    max-width: unset;
    padding: 16px 16px 64px 16px;
  }
}

main.justify-start {
  justify-content: flex-start;
}

// icon sizes
.icon-l {
  font-size: 48px !important;
  height: 48px !important;
  width: 48px !important;
}

.icon-xl {
  font-size: 64px !important;
  height: 64px !important;
  width: 64px !important;
}

.icon-xxl {
  font-size: 80px !important;
  height: 80px !important;
  width: 80px !important;
}

//color overrides
.success-color {
  color: $success-color !important;
}

.error-color {
  color: $error-color !important;
}

.warning-color {
  color: $warning-color !important;
}

.info-color {
  color: $info-color !important;
}

//background color overrides
.success-bg-color {
  background-color: $success-color !important;
}

.error-bg-color {
  background-color: $error-color !important;
}

.warning-bg-color {
  background-color: $warning-color !important;
}

.info-bg-color {
  background-color: $info-color !important;
}

.text-centered{
  text-align: center;
}
