.success-toast div,
.success-toast div button {
  background-color: #4caf50 !important; /* Material Green */
  color: white !important;
  font-weight: bold;
  border-radius: 4px;
}

.error-toast div,
.error-toast div button {
  background-color: #f44336 !important; /* Material Red */
  color: white !important;
  font-weight: bold;
  border-radius: 4px;
}

.warning-toast div,
.warning-toast div button {
  background-color: #ff9800 !important; /* Material Amber */
  color: white !important;
  font-weight: bold;
  border-radius: 4px;
}

.info-toast div,
.info-toast div button {
  background-color: #2196f3 !important; /* Material Blue */
  color: white !important;
  font-weight: bold;
  border-radius: 4px;
}

/* toast Styles for Duration */
.mat-snack-bar-container {
  padding: 16px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
