<mat-accordion multi="true">
  @for (groupedOngoingTrades of tradeService.ongoingTrades(); track groupedOngoingTrades.partnerUsername) {
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span
            >{{ groupedOngoingTrades.ongoingTrades.length }}
            @if (groupedOngoingTrades.ongoingTrades.length > 1) {
              trades
            } @else {
              trade
            }
            in progress with&nbsp;
            <a routerLink="/profiles/{{ groupedOngoingTrades.partnerUsername }}">
              {{ groupedOngoingTrades.partnerUsername }}
            </a></span
          >
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="collection-items-list">
        @for (ongoingTrade of groupedOngoingTrades.ongoingTrades; track ongoingTrade) {
          <li>
            <app-ongoing-trade [ongoingTrade]="ongoingTrade" [partnerUsername]="groupedOngoingTrades.partnerUsername" />
          </li>
        }
      </ul>
    </mat-expansion-panel>
  }
</mat-accordion>

@if (noResults()) {
  <app-no-results>
    <p>
      You don't have any ongoing trade at the moment.
      <br />
      Check your
      <a routerLink="/trades/received">received offers</a>
      or use the
      <a routerLink="/trades/find">smart trade finder</a>.
    </p>
  </app-no-results>
} @else {
  <app-end-of-data>
    <p>You don't have other ongoing trades</p>
  </app-end-of-data>
}

<app-scroll-listener (reachedBottom)="tradeService.fetchTradeOpportunitiesNextPage()" />
