<mat-card class="cards-list-filterbar">
  <mat-card-content class="high-density">
    <form
      (ngSubmit)="onSubmit($event)"
      [formGroup]="filtersForm"
      class="card-filters-form">
      <fieldset>
        <!-- <legend>Card Filters</legend> -->
        <mat-form-field
          appearance="outline"
          class="search-input"
          subscriptSizing="dynamic">
          <mat-label>Search for a card</mat-label>
          <input
            matInput
            placeholder="Ex. Pikachu, Red ..."
            formControlName="search" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>Set</mat-label>
          <mat-select multiple formControlName="setCodes">
            @for (set of sets(); track set) {
              <mat-option [value]="set.code">{{ set.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>Rarity</mat-label>
          <mat-select multiple formControlName="rarityCodes">
            @for (rarity of rarities(); track rarity) {
              <mat-option [value]="rarity.code">
                <div class="tcg-card-rarity-option">
                  <img alt="" [src]="fileServerBaseUrl + rarity.imageUrl" />
                  {{ rarity.name }}
                </div>
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <span>
          <mat-slide-toggle
            labelPosition="before"
            (change)="onToggleChange($event)"
            >More filters</mat-slide-toggle
          >
        </span>

        <button
          mat-flat-button
          type="button"
          color="warn"
          (click)="resetFilters()">
          Reset
          <mat-icon>clear</mat-icon>
        </button>
      </fieldset>
      @if (showMoreFilters()) {
        <fieldset>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Type</mat-label>
            <mat-select multiple formControlName="cardTypeCodes">
              @for (cardType of cardTypes(); track cardType) {
                <mat-option [value]="cardType.code">
                  {{ cardType.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Color</mat-label>
            <mat-select multiple formControlName="colorCodes">
              @for (color of colors(); track color) {
                <mat-option [value]="color.code">
                  <div class="tcg-card-rarity-option">
                    <img alt="" [src]="fileServerBaseUrl + color.imageUrl" />
                    {{ color.name }}
                  </div>
                </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Weakness</mat-label>
            <mat-select multiple formControlName="weaknessCodes">
              @for (color of colors(); track color) {
                <mat-option [value]="color.code">
                  <div class="tcg-card-rarity-option">
                    <img alt="" [src]="fileServerBaseUrl + color.imageUrl" />
                    {{ color.name }}
                  </div>
                </mat-option>
              }
              <mat-option [value]="'none'"> No weakness </mat-option>
            </mat-select>
          </mat-form-field>
        </fieldset>
      }
    </form>
  </mat-card-content>
</mat-card>
