@use "@angular/material" as mat;

.high-density {
  @include mat.theme(
    (
      density: -4,
    )
  );
}

.cards-list-filterbar form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cards-list-filterbar form fieldset {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  //  Override default styling
  border: none;
  padding: 0px;
  padding-block: 0px;
  padding-inline: 0px;
  margin-inline: 0px;
  min-inline-size: 0px;
  margin: 0px;

  & span {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.cards-list-filterbar .search-input {
  flex-grow: 2;
  min-width: 100px;
}

.tcg-card-rarity-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  cursor: pointer;
}

.tcg-card-rarity-option > img {
  height: 1rem;
}

fieldset.advanced-filters {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

div.ui-preferences{
  margin-top: 8px;
  display: flex;
}
