<mat-card class="cards-list-filterbar">
  <mat-card-content class="high-density">
    <form (ngSubmit)="onSubmit($event)" [formGroup]="filtersForm">
      <fieldset>
        <!-- <legend>Card Filters</legend> -->
        <mat-form-field
          appearance="outline"
          class="search-input"
          class="high-density"
          subscriptSizing="dynamic">
          <mat-label>Search for a card</mat-label>
          <input
            matInput
            placeholder="Ex. Pikachu, Red ..."
            formControlName="search" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="high-density"
          subscriptSizing="dynamic">
          <mat-label>Filter by Set</mat-label>
          <mat-select multiple formControlName="setCodes">
            @for (set of sets(); track set) {
              <mat-option [value]="set.code">{{ set.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="high-density"
          subscriptSizing="dynamic">
          <mat-label>Filter by Rarity</mat-label>
          <mat-select multiple formControlName="rarityCodes">
            @for (rarity of rarities(); track rarity) {
              <mat-option [value]="rarity.code">
                <div class="tcg-card-rarity-option">
                  <img alt="" [src]="fileServerBaseUrl + rarity.imageUrl" />
                  {{ rarity.name }}
                </div>
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <span>
          <mat-slide-toggle labelPosition="before"
            >More filters</mat-slide-toggle
          >
        </span>

        <button
          mat-flat-button
          type="button"
          color="warn"
          (click)="resetFilters()">
          Reset
          <mat-icon>clear</mat-icon>
        </button>
      </fieldset>
    </form>
  </mat-card-content>
</mat-card>
