<main>
  <mat-card class="register-card">
    <mat-card-header>
      <mat-card-title>Change password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onRegister()" class="auth-form">
        @if (loading()) {
          <div class="centered-spinner-container"><mat-spinner /></div>
        }
        @if (!loading() && !submitSuccess()) {
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>New password</mat-label>
            <input
              matInput
              [type]="passwordVisible() ? 'text' : 'password'"
              formControlName="password"
              placeholder="Enter your password" />
            <button matSuffix mat-icon-button type="button" (click)="togglePasswordVisibility()">
              <mat-icon>{{ passwordVisible() ? "visibility" : "visibility_off" }}</mat-icon>
            </button>
            @if (resetPasswordForm.get("password")?.invalid && resetPasswordForm.get("password")?.touched) {
              <mat-error> At least {{ resetPasswordForm.get("password")?.errors?.["weakness"] }}. </mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>New password confirmation</mat-label>
            <input
              matInput
              [type]="passwordVisible() ? 'text' : 'password'"
              formControlName="passwordConfirmation"
              placeholder="Repeat your password" />
            <button matSuffix mat-icon-button type="button" (click)="togglePasswordVisibility()">
              <mat-icon>{{ passwordVisible() ? "visibility" : "visibility_off" }}</mat-icon>
            </button>

            @if (resetPasswordForm.hasError("mismatch") && resetPasswordForm.get("passwordConfirmation")?.touched) {
              <mat-error> Passwords do not match. </mat-error>
            }
          </mat-form-field>
        }
        @if (submitSuccess()) {
          <mat-icon class="icon-xl success-color">check_circle</mat-icon>
          <p>Your password was successfully updated.</p>
          <button mat-flat-button color="primary" routerLink="/login">
            <mat-icon>chevron_right</mat-icon> Go to login
          </button>
        }

        @if (!submitSuccess()) {
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="resetPasswordForm.invalid || loading()">
          SAVE PASSWORD
        </button>}
      </form>
    </mat-card-content>

    @if (submitFail()) {
      <mat-card-footer class="auth-card-footer">
        <mat-icon class="icon-l error-color">cancel</mat-icon>
        {{ message }}
      </mat-card-footer>
    }
  </mat-card>
</main>
