<main>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ "verifyEmail.title" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="verify-email-content">
      @if (waitingForResponse) {
        <mat-spinner />
        <p>{{ "verifyEmail.verifying" | translate }}</p>
      }
      @if (!waitingForResponse && verificationStatus) {
        <mat-icon class="icon-xl success-color">check_circle</mat-icon>
        <p>{{ "verifyEmail.success.message" | translate }}</p>
        <button mat-flat-button color="primary" routerLink="/collection/all-cards">
          <mat-icon>chevron_right</mat-icon> {{ "verifyEmail.success.myCollection" | translate }}
        </button>
      }
      @if (!waitingForResponse && !verificationStatus) {
        <mat-icon color="warn" class="icon-xl error-color">cancel</mat-icon>
        <p>{{ "verifyEmail.error.message" | translate }}</p>
      }
    </mat-card-content>
  </mat-card>
</main>
