<main>
  <mat-card class="register-card">
    <mat-card-header>
      <mat-card-title>{{ "register.title" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="auth-form">
        @if (loading()) {
          <div class="centered-spinner-container"><mat-spinner /></div>
        }
        @if (!loading() && !registerSuccess()) {
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>{{ "register.form.username.label" | translate }}</mat-label>
            <input matInput type="text" formControlName="username" placeholder="" />
            <mat-hint>{{ "register.form.username.hint" | translate }}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>{{ "register.form.email.label" | translate }}</mat-label>
            <input
              matInput
              type="email"
              formControlName="email"
              [placeholder]="'register.form.email.placeholder' | translate" />
            <mat-error *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
              {{ "register.form.email.error" | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>{{ "register.form.password.label" | translate }}</mat-label>
            <input
              matInput
              [type]="passwordVisible() ? 'text' : 'password'"
              formControlName="password"
              [placeholder]="'register.form.password.placeholder' | translate" />
            <button matSuffix mat-icon-button type="button" (click)="togglePasswordVisibility()">
              <mat-icon>{{ passwordVisible() ? "visibility" : "visibility_off" }}</mat-icon>
            </button>
            @if (registerForm.get("password")?.invalid && registerForm.get("password")?.touched) {
              <mat-error>{{
                "register.form.password.error"
                  | translate: { weakness: registerForm.get("password")?.errors?.["weakness"] }
              }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ "register.form.passwordConfirmation.label" | translate }}</mat-label>
            <input
              matInput
              [type]="passwordVisible() ? 'text' : 'password'"
              formControlName="passwordConfirmation"
              [placeholder]="'register.form.passwordConfirmation.placeholder' | translate" />
            <button matSuffix mat-icon-button type="button" (click)="togglePasswordVisibility()">
              <mat-icon>{{ passwordVisible() ? "visibility" : "visibility_off" }}</mat-icon>
            </button>

            @if (registerForm.hasError("mismatch") && registerForm.get("passwordConfirmation")?.touched) {
              <mat-error>{{ "register.form.passwordConfirmation.error" | translate }}</mat-error>
            }
          </mat-form-field>
        }
        @if (registerSuccess()) {
          <div class="centered-container">
            <mat-icon class="icon-l success-color">outgoing_mail</mat-icon>
            <p>
              {{ "register.messages.success.title" | translate }}<br />
              {{ "register.messages.success.description" | translate }}
            </p>
          </div>
        }

        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="registerForm.invalid || loading() || registerSuccess()">
          {{ "register.form.submit" | translate }}
        </button>
        <a mat-button routerLink="/login">{{ "register.links.login" | translate }}</a>
      </form>
    </mat-card-content>

    @if (registerFail()) {
      <mat-card-footer class="auth-card-footer">
        <mat-icon class="icon-l error-color">cancel</mat-icon>
        {{ "register.messages.error.registrationFailed" | translate: { message: message } }}
      </mat-card-footer>
    }
  </mat-card>
</main>
