<main>
  <mat-card class="register-card">
    <mat-card-header>
      <mat-card-title>Create an account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="auth-form">
        @if (loading()) {
          <div class="centered-spinner-container"><mat-spinner /></div>
        }
        @if (!loading() && !registerSuccess()) {
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Enter your email" />
            <mat-error *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
              Please enter a valid email.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="passwordVisible() ? 'text' : 'password'"
              formControlName="password"
              placeholder="Enter your password" />
            <button matSuffix mat-icon-button type="button" (click)="togglePasswordVisibility()">
              <mat-icon>{{ passwordVisible() ? "visibility" : "visibility_off" }}</mat-icon>
            </button>
            @if (registerForm.get("password")?.invalid && registerForm.get("password")?.touched) {
              <mat-error> At least {{ registerForm.get("password")?.errors?.["weakness"] }}. </mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Password confirmation</mat-label>
            <input
              matInput
              [type]="passwordVisible() ? 'text' : 'password'"
              formControlName="passwordConfirmation"
              placeholder="Repeat your password" />
            <button matSuffix mat-icon-button type="button" (click)="togglePasswordVisibility()">
              <mat-icon>{{ passwordVisible() ? "visibility" : "visibility_off" }}</mat-icon>
            </button>

            @if (registerForm.hasError("mismatch") && registerForm.get("passwordConfirmation")?.touched) {
              <mat-error> Passwords do not match. </mat-error>
            }
          </mat-form-field>
        }
        @if (registerSuccess()) {
          <div class="centered-container">
            <mat-icon class="icon-l success-color">outgoing_mail</mat-icon>
            <p>
              Account successfully created,<br />
              check your email for activation link.
            </p>
          </div>
        }

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="registerForm.invalid || loading() || registerSuccess()">
          REGISTER
        </button>
        <a mat-button routerLink="/login">I already have an account, log me in </a>
      </form>
    </mat-card-content>

    @if (registerFail()) {
      <mat-card-footer class="auth-card-footer">
        <mat-icon class="icon-l error-color">cancel</mat-icon>
        {{ message }}
      </mat-card-footer>
    }
  </mat-card>
</main>
