.register-form {
  padding: 32px 16px 0px 16px;
  padding-top: 32px;
  gap:8px;
  display: flex;
  flex-direction: column;
  min-width: min(50vw, 400px);
  min-width: min(50vw, 400px);
}

.centered-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px 0px;
}

.centered-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 0px 16px 0px;
}

.register-card-footer{
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 0px 16px 16px 8px;
}