<main class="justify-start">
  <mat-tab-group
    class="dashboard-tab-group"
    [selectedIndex]="selectedTabIndex"
    (selectedTabChange)="onTabChange($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">content_copy</mat-icon>
        <span>
          {{ "myCollectionDashboard.allCards" | translate }}
          <span class="low-emphasis"> ({{ this.collectionService.allCardsCount() }})</span>
        </span>
      </ng-template>
      <app-all-cards />
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">inventory_2</mat-icon>
        <span>
          {{ "myCollectionDashboard.myCollection" | translate }}
          <span class="low-emphasis"> ({{ this.collectionService.myCollectionCount() }})</span>
        </span>
      </ng-template>
      <app-my-collection />
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">star</mat-icon>
        <span>
          {{ "myCollectionDashboard.wishlist" | translate }}
          <span class="low-emphasis"> ({{ this.collectionService.myWishlistCount() }})</span>
        </span>
      </ng-template>
      <app-my-wishlist />
    </mat-tab>
  </mat-tab-group>
</main>
