<mat-accordion multi="true">
  @for (groupedReceivedOffers of tradeService.receivedOffers(); track groupedReceivedOffers.partnerUsername) {
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span
            >{{ groupedReceivedOffers.receivedOffers.length }}
            @if (groupedReceivedOffers.receivedOffers.length > 1) {
              trade offers
            } @else {
              trade offer
            }
            awaiting response from&nbsp;
            <a routerLink="/profiles/{{ groupedReceivedOffers.partnerUsername }}">
              {{ groupedReceivedOffers.partnerUsername }}
            </a></span
          >
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="collection-items-list">
        @for (receivedOffer of groupedReceivedOffers.receivedOffers; track receivedOffer) {
          <li>
            <app-received-trade-offer
              [receivedOffer]="receivedOffer"
              [partnerUsername]="groupedReceivedOffers.partnerUsername" />
          </li>
        }
      </ul>
    </mat-expansion-panel>
  }
</mat-accordion>

@if (noResults()) {
  <app-no-results>
    <p>
      You haven't received any trade offer.
      <br />
      Try adding more cards to your
      <a routerLink="/collection/wishlist">wishlist</a>
      or
      <a routerLink="/collection/owned">collection</a>
      so others can find you.
    </p>
  </app-no-results>
} @else {
  <app-end-of-data>
    <p>No other received offer to show you</p>
  </app-end-of-data>
}

<app-scroll-listener (reachedBottom)="tradeService.fetchTradeOpportunitiesNextPage()" />
