<mat-card class="trade-opportunity-card">
  <!-- <mat-card-header> Trade with : {{ opportunity().partnerUsername }} </mat-card-header> -->
  <mat-card-content class="trade-overview">
    <figure>
      <span>You give</span>
      <img mat-card-image [src]="fileServerBaseUrl + myCard().imgUrl" alt="card ref" class="trade-opportunity-image" />
      <figcaption>#{{ myCard().cardRef }} ({{ myCard().languageCode }})</figcaption>
    </figure>
    <span class="text-centered">
      <mat-icon class="icon-xl">swap_horiz</mat-icon>
    </span>
    <figure>
      <span>You get</span>
      <img
        mat-card-image
        [src]="fileServerBaseUrl + theirCard().imgUrl"
        alt="card ref"
        class="trade-opportunity-image" />
      <figcaption>#{{ theirCard().cardRef }} ({{ theirCard().languageCode }})</figcaption>
    </figure>
  </mat-card-content>
  <mat-card-actions class="trade-actions high-density">
    <button mat-flat-button (click)="openConfirmationDialog()">SEND TRADE OFFER<mat-icon>chevron_right</mat-icon></button>
  </mat-card-actions>
</mat-card>
