<main class="justify-start">
  <mat-tab-group class="dashboard-tab-group">
    <mat-tab label="{{ 'dashboardFrame.myCollection' | translate }}">
      <app-my-collection />
    </mat-tab>

    <mat-tab label="{{ 'dashboardFrame.wishlist' | translate }}">
      Content 2
    </mat-tab>

    <mat-tab label="{{ 'dashboardFrame.tradeFinder' | translate }}">
      Content 3
    </mat-tab>

    <mat-tab label="{{ 'dashboardFrame.tradeHistory' | translate }}">
      Content 4
    </mat-tab>
  </mat-tab-group>
</main>
