@use "global-variables" as *;

ul.avatar-list {
  min-width: 45vw;
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 8px;
  & li {
    border-radius: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    & figure {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px;
      & figcaption {
        text-align: center;
      }
      & img {
        width: 175px;
        height: 175px;
      }
    }
  }
}

li.selected {
  border: 2px solid var(--mat-sys-primary) !important;
}

.search-input {
  background-color: var(--mat-sys-surface);
  margin: 8px 0px 16px 0px;
  width: 100%;
  position: sticky;
  top: 8px;
}

@media screen and (max-width: #{$breakpoint}) {
  ul.avatar-list {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }

  ul.avatar-list > li {
    border-radius: 8px;
  }

  ul.avatar-list > li > figure > img {
    width: 100px;
    height: 100px;
  }
}
