div.end-of-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  & p {
    text-align: center;
    margin-top: 8px;
    background-color: antiquewhite !important;
  }
}
