<main>
  <mat-card class="forgotten-password-card">
    <mat-card-header>
      <mat-card-title>Forgotten password ?</mat-card-title>
    </mat-card-header>
    <mat-card-content class="forgotten-password-card-content">
      @if (!submissionSuccess() && !submissionFailed()) {
        <form
          [formGroup]="forgottenPasswordForm"
          (ngSubmit)="onSubmit()"
          class="forgotten-password-form">
          @if (loading()) {
            <div class="centered-spinner-container"><mat-spinner /></div>
          }
          @if (!loading()) {
            <p>
              Enter the email address associated with your account, and we'll
              send you a link to <strong>reset your password.</strong>
            </p>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Email</mat-label>
              <input
                matInput
                formControlName="email"
                placeholder="Enter your email" />
            </mat-form-field>
          }

          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="
              forgottenPasswordForm.invalid ||
              loading() ||
              submissionSuccess() ||
              submissionFailed()
            ">
            Send me a reset link
          </button>
        </form>
      }

      @if (submissionSuccess()) {
        <div class="forgotten-password-form">
          <mat-icon class="icon-xl success-color">check_circle</mat-icon>
          <p>Check your email for a link to reset your password.</p>
        </div>
      }

      @if (submissionFailed()) {
        <div class="forgotten-password-form">
          <mat-icon class="icon-l error-color">cancel</mat-icon>
          There was an error on the server, please try again
        </div>
      }
    </mat-card-content>
  </mat-card>
</main>
