<!-- UX : this part is helpful to explain to the user how smart matching works -->
<div class="smart-matching-info">
  <mat-icon color="primary" class="info-icon">info</mat-icon>
  <span>
    These are smart trade suggestions based on matches between your
    <a routerLink="/my-collection/wishlist"> wishlist</a> and cards in your
    <a routerLink="/my-collection/owned">collection</a> others want.
  </span>
</div>

<mat-accordion multi="true">
  @for (partnerOpps of tradeService.opportunities(); track partnerOpps.partnerUsername) {
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span
            >{{ partnerOpps.opportunities.length }}
            @if (partnerOpps.opportunities.length > 1) {
              trade opportunities
            } @else {
              trade opportunity
            }
            with&nbsp;
            <a routerLink="/profiles/{{ partnerOpps.partnerUsername }}">
              {{ partnerOpps.partnerUsername }}
            </a></span
          >
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="collection-items-list">
        @for (opportunity of partnerOpps.opportunities; track opportunity) {
          <li>
            <app-trade-opportunity [opportunity]="opportunity" [partnerUsername]="partnerOpps.partnerUsername" />
          </li>
        }
      </ul>
    </mat-expansion-panel>
  }
</mat-accordion>

@if (noResults()) {
  <app-no-results />
  <!-- TODO : add a CTA to share the app / go fill your collection -->
}
<app-scroll-listener (reachedBottom)="tradeService.fetchTradeOpportunitiesNextPage()" />
