<app-card-filter-bar
  [filters]="this.collectionService.myWishlistFilters()"
  (filterChange)="this.collectionService.updateMyWishlistFilters($event)"
  class="app-card-filter-bar" />
<ul class="collection-items-list">
  @for (
    collectionItem of this.collectionService.myWishlist();
    track "wishlist-" + collectionItem.setCode + "-" + collectionItem.setNumber
  ) {
    <li>
      <app-collection-item [collectionItem]="collectionItem" />
    </li>
  }
</ul>
@if (noResults()) {
  <app-no-results>
    <p>
      @if (this.collectionService.hasActiveWishlistFilters()) {
        {{ "myWishlist.noResultsWithFilters" | translate }}
      } @else {
        {{ "myWishlist.noResultsWithoutFiltersStart" | translate }}
        <a routerLink="/collection/all-cards">
          {{ "myWishlist.noResultsWithoutFiltersLink" | translate }}
        </a>
      }
    </p>
  </app-no-results>
} @else {
  <app-end-of-data>
    <p>
      {{ "myWishlist.noMoreCards" | translate }}
      @if (this.collectionService.hasActiveWishlistFilters()) {
        {{ "myWishlist.noMoreCardsWithFilters" | translate }}
      }
    </p>
  </app-end-of-data>
}
<app-scroll-listener (reachedBottom)="this.collectionService.fetchMyWishlistNextPage()" />
