<mat-card class="collection-item high-density">
  <img
    mat-card-image
    [src]="fileServerBaseUrl + version().imageUrl"
    alt="version().name"
    class="card-image"
    loading="lazy" />
  <mat-card-content>
    <form class="quantities-form" [formGroup]="collectionItemForm">
      <span class="card-name">
        <strong>#{{ collectionItem().setCode }}-{{ collectionItem().setNumber.toString().padStart(3, "0") }}</strong> -
        {{ version().name }}</span
      >
      <mat-form-field appearance="outline" class="language-code-select" subscriptSizing="dynamic">
        <mat-select formControlName="languageCode">
          @for (languageCode of availableLanguageCodes(); track languageCode) {
            <mat-option [value]="languageCode">{{ languageCode }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <span> For trade : {{ collectionItemForm.get("forTrade")?.value }}</span>
      <button mat-flat-button (click)="openTradeDialog()" [disabled]="!collectionItemForm.get('forTrade')?.value">
        Offer trade
      </button>
    </form>
  </mat-card-content>
</mat-card>
