<app-card-filter-bar
  [filters]="this.collectionService.filters()"
  [collectionViewMode]="this.collectionViewMode()"
  (filterChange)="this.collectionService.updateFilters($event)"
  class="app-card-filter-bar" />
<ul class="collection-items-list">
  @for (collectionItem of this.collectionService.myCollection(); track collectionItem.id) {
    <li>
      <app-collection-item [collectionItem]="collectionItem" />
    </li>
  }
</ul>
@if (noResults()) {
  <app-no-results />
}
<app-scroll-listener (reachedBottom)="this.collectionService.fetchMyCollectionNextPage()" />
