<app-card-filter-bar
  [filters]="this.collectionService.myCollectionFilters()"
  (filterChange)="this.collectionService.updateMyCollectionFilters($event)"
  [ownedFilter]="true"
  class="app-card-filter-bar" />
<ul class="collection-items-list">
  @for (collectionItem of this.collectionService.myCollection(); track collectionItem.id) {
    <li>
      <app-collection-item [collectionItem]="collectionItem" />
    </li>
  }
</ul>
@if (noResults()) {
  <app-no-results />
}

<app-end-of-data [isVisible]="true" [message]="endOfDataMessage" />
<app-scroll-listener (reachedBottom)="this.collectionService.fetchMyCollectionNextPage()" />
