<main>
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>{{ "login.title" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="auth-form">
        @if (loading()) {
          <div class="centered-spinner-container"><mat-spinner /></div>
        }
        @if (!loading()) {
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>{{ "login.form.identifier.label" | translate }}</mat-label>
            <input
              matInput
              formControlName="identifier"
              [placeholder]="'login.form.identifier.placeholder' | translate" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ "login.form.password.label" | translate }}</mat-label>
            <input
              matInput
              [type]="passwordVisible() ? 'text' : 'password'"
              formControlName="password"
              [placeholder]="'login.form.password.placeholder' | translate" />
            <button matSuffix mat-icon-button type="button" (click)="togglePasswordVisibility()">
              <mat-icon>{{ passwordVisible() ? "visibility" : "visibility_off" }}</mat-icon>
            </button>
          </mat-form-field>
        }

        <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid || loading()">
          {{ "login.form.submit" | translate }}
        </button>
        <div>
          <a mat-button routerLink="/register">{{ "login.links.register" | translate }}</a>
          <a mat-button routerLink="/forgotten-password">{{ "login.links.forgotPassword" | translate }}</a>
        </div>
      </form>
    </mat-card-content>
    @if (loginFailed()) {
      <mat-card-footer class="login-card-footer">
        <mat-icon class="icon-l error-color">cancel</mat-icon>
        {{ "login.messages.error" | translate }}
      </mat-card-footer>
    }
  </mat-card>
</main>
