<mat-accordion multi="true">
  @for (groupedSentOffers of tradeService.sentOffers(); track groupedSentOffers.partnerUsername) {
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span
            >{{ groupedSentOffers.sentOffers.length }}
            @if (groupedSentOffers.sentOffers.length > 1) {
              trade offers
            } @else {
              trade offer
            }
            awaiting response from&nbsp;
            <a routerLink="/profiles/{{ groupedSentOffers.partnerUsername }}">
              {{ groupedSentOffers.partnerUsername }}
            </a></span
          >
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="collection-items-list">
        @for (sentOffer of groupedSentOffers.sentOffers; track sentOffer) {
          <li>
            <app-sent-trade-offer [sentOffer]="sentOffer" [partnerUsername]="groupedSentOffers.partnerUsername" />
          </li>
        }
      </ul>
    </mat-expansion-panel>
  }
</mat-accordion>

@if (noResults()) {
  <app-no-results>
    <p>
      You did not send any trade offers.
      <br />
      Try the
      <a routerLink="/trades/find">smart trade finder</a>
      to find partners.
    </p>
  </app-no-results>
} @else {
  <app-end-of-data>
    <p>These are all the offer you sent, now wait for them to respond.</p>
  </app-end-of-data>
}

<app-scroll-listener (reachedBottom)="tradeService.fetchTradeOpportunitiesNextPage()" />
