<main class="justify-start">
  <app-profile-card [username]="username()" />

  <mat-tab-group class="dashboard-tab-group">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">swap_horiz</mat-icon>
        <span>
          {{ "publicProfile.cardsForTrade" | translate }}
          <span class="low-emphasis"> ({{ this.collectionService.targetUserCardsForTradeCount() }})</span>
        </span>
      </ng-template>
      <app-public-cards-for-trade [username]="username()" />
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">star</mat-icon>
        <span>
          {{ "publicProfile.wishlist" | translate }}
          <span class="low-emphasis"> ({{ this.collectionService.targetUserWishlistCount() }})</span>
        </span>
      </ng-template>
      <app-public-wishlist [username]="username()" />
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">inventory_2</mat-icon>
        <span>
          {{ "publicProfile.collection" | translate }}
          <span class="low-emphasis"> ({{ this.collectionService.targetUserCollectionCount() }})</span>
        </span>
      </ng-template>
      <app-public-collection [username]="username()" />
    </mat-tab>
  </mat-tab-group>
</main>
