<main class="justify-start">
  <app-profile-card [username]="username()" />

  <mat-tab-group class="dashboard-tab-group">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">inventory_2</mat-icon>
        collection
      </ng-template>
      <app-public-collection [username]="username()" />
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">star</mat-icon>
        wishlist
      </ng-template>
      <app-public-wishlist [username]="username()" />
    </mat-tab>
  </mat-tab-group>
</main>
