@use "dashboard-shared";

main {
  display: grid; // TODO : this needs to be adapted for mobile
  grid-template-columns: 450px 1fr;
  align-items: start;
  gap: 16px;
}

app-profile-card {
  position: sticky;
  top : 64px;
}
