<app-card-filter-bar
  [filters]="filters()"
  (setSelectionChange)="updateSelectedSetCodes($event)"
/>
<ul class="tcg-card-list">
  @for (card of filteredCards(); track card.id) {
  <li>
    <mat-card class="tcg-card">
      <figure>
        <img [src]="fileServerBaseUrl + card.imageUrl" />
        <figcaption>{{ card.name }} - {{ card.setNumber }}</figcaption>
      </figure>
    </mat-card>
  </li>
  }
</ul>

<div #scrollAnchor>
  <div>
    @if(loading()){
    <mat-spinner />
    <p>Loading card data</p>
    }
  </div>
</div>
