<main class="justify-start">
  <mat-tab-group
    class="dashboard-tab-group"
    [selectedIndex]="selectedTabIndex"
    (selectedTabChange)="onTabChange($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">search</mat-icon>
        <span
          >{{ "tradingDashboard.find" | translate }}
          <span class="low-emphasis">({{ getOpportunitiesCount() }})</span></span
        >
      </ng-template>
      <app-trade-opportunities />
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">call_received</mat-icon>
        <span
          class="info-badge"
          [matBadge]="getReceivedOffersCount()"
          [matBadgeHidden]="!getReceivedOffersCount()"
          matBadgeOverlap="false"
          matBadgeDescription="you have received {{ getReceivedOffersCount() }} trade offers"
          >{{ "tradingDashboard.incoming" | translate }}</span
        >
      </ng-template>
      <app-received-trade-offers />
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">call_made</mat-icon>
        <span
          >{{ "tradingDashboard.sent" | translate }}
          <span class="low-emphasis">({{ getSentOffersCount() }})</span></span
        >
      </ng-template>
      <app-sent-trade-offers />
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">schedule</mat-icon>
        <span
          class="info-badge"
          [matBadge]="getOngoingTradesCount()"
          [matBadgeHidden]="!getOngoingTradesCount()"
          matBadgeOverlap="false"
          matBadgeDescription="you have received {{ getOngoingTradesCount() }} trade offers"
          >{{ "tradingDashboard.ongoing" | translate }}</span
        >
      </ng-template>
      <app-ongoing-trades />
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">history</mat-icon>
        {{ "tradingDashboard.history" | translate }}
      </ng-template>
      <h2>History isn't available for the moment</h2>
      But you will soon see here : <br />
      - Completed or declined trades <br />
      - Filter by status (Accepted | Declined | Completed)
    </mat-tab>
  </mat-tab-group>
</main>
