<main class="justify-start">
  <mat-tab-group
    class="dashboard-tab-group"
    [selectedIndex]="selectedTabIndex"
    (selectedTabChange)="onTabChange($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">search</mat-icon>
        {{ "tradingDashboard.find" | translate }}
      </ng-template>
      <app-trade-opportunities />
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">call_received</mat-icon>
        {{ "tradingDashboard.incoming" | translate }}
      </ng-template>
      - Offers you have received, awaiting your decision - Actions: Accept, Decline, Counter-offer
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">call_made</mat-icon>
        {{ "tradingDashboard.sent" | translate }}
      </ng-template>
      <app-sent-trade-offers />
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">schedule</mat-icon>
        {{ "tradingDashboard.ongoing" | translate }}
      </ng-template>
      - Accepted trades in progress (shipping/confirmation) - Actions: Track shipment, Mark as received
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">history</mat-icon>
        {{ "tradingDashboard.history" | translate }}
      </ng-template>
      - Completed or declined trades - Filter by status (Accepted | Declined | Completed)
    </mat-tab>
  </mat-tab-group>
</main>
