<main class="justify-start">
  <mat-tab-group
    class="dashboard-tab-group"
    [selectedIndex]="selectedTabIndex"
    (selectedTabChange)="onTabChange($event)">

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">inventory_2</mat-icon>
        {{ "myCollectionDashboard.allCards" | translate }}
      </ng-template>
      <app-all-cards />
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">inventory_2</mat-icon>
        {{ "myCollectionDashboard.myCollection" | translate }}
      </ng-template>
      <app-my-collection />
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon-margin-right-8px">star</mat-icon>
        {{ "myCollectionDashboard.wishlist" | translate }}
      </ng-template>
      <app-my-wishlist />
    </mat-tab>
  </mat-tab-group>
</main>
