.hero {
  margin: 20px 0;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hero-content {
  background-color: var(--mat-sys-surface-dim);
  opacity: 85%;
  padding: 32px;
  border-radius: 16px;
}

h1 {
  font-size: xx-large;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.feature-card {
  padding: 10px;
}

.section {
  margin: 40px 0;
}

mat-divider {
  margin: 10px 0;
}

.testimonials .quotes-section {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
}
