<main class="justify-start">
  <mat-accordion multi class="account-accordion">
    <!-- Public info  Section -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ "account.panels.publicProfile" | translate }}</mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="publicInfoForm" (ngSubmit)="onSubmit()" class="public-info-panel-content">
        <div class="avatar-section">
          <img
            [src]="fileServerBaseUrl + this.avatarUrl()"
            [alt]="'account.avatar.alt' | translate"
            class="avatar-preview" />
          <button mat-stroked-button color="primary" [disabled] (click)="openAvatarSelectionDialog($event)">
            Change Avatar
          </button>
        </div>

        <div class="public-info-section">
          <mat-form-field class="full-width-form-field">
            <mat-label>{{ "account.form.username.label" | translate }}</mat-label>
            <input matInput formControlName="username" />
            <mat-hint>{{ "account.form.username.hint" | translate }}</mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width-form-field">
            <mat-label>{{ "account.form.tcgpId.label" | translate }}</mat-label>
            <input matInput formControlName="tcgpId" />
            <mat-hint>{{ "account.form.tcgpId.hint" | translate }}</mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width-form-field">
            <mat-label>{{ "account.form.bio.label" | translate }}</mat-label>
            <textarea matInput formControlName="bio"></textarea>
          </mat-form-field>

          <!-- <mat-slide-toggle> Show my collection to others </mat-slide-toggle> -->

          <div class="action-form-buttons">
            <button mat-flat-button color="primary" type="submit" [disabled]="!publicInfoForm.dirty">
              {{ "account.buttons.save" | translate }}
            </button>
            <button mat-button type="button" [disabled]="!publicInfoForm.dirty" (click)="resetForm()">
              {{ "account.buttons.cancel" | translate }}
            </button>
          </div>
        </div>
      </form>
    </mat-expansion-panel>

    <!-- Credentials Section -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ "account.panels.credentials" | translate }}</mat-panel-title>
      </mat-expansion-panel-header>

      {{ "account.messages.comingSoon" | translate }}
    </mat-expansion-panel>
  </mat-accordion>
</main>
